/mentahan
/materi

/pertemuan-*/*.iml
/pertemuan-*/.gradle
/pertemuan-*/local.properties
/pertemuan-*/.idea/caches
/pertemuan-*/.idea/libraries
/pertemuan-*/.idea/modules.xml
/pertemuan-*/.idea/workspace.xml
/pertemuan-*/.idea/navEditor.xml
/pertemuan-*/.idea/assetWizardSettings.xml
/pertemuan-*/.DS_Store
/pertemuan-*/build
/pertemuan-*/captures
/pertemuan-*/.externalNativeBuild
/pertemuan-*/.cxx
/pertemuan-*/local.properties
!pertemuan-*/README.md